body {
  padding: 0;
  margin: 0;
  color: #142632;
}

a {
  text-decoration: none;
}

header {
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  
}

nav > a {
  padding: 10px 0px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  height: 70px;
}

ul > li {
  padding: 5px;
}

li > a {
  color: rgb(211, 207, 207);
}

main {
  padding-top: 100px;
}

main > section {
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
}


main img {
  margin-bottom: 30px;

}

article {
  width: 420px;
}

article section {
  height: 340px;
  overflow: scroll;
  word-wrap: break-word;
  
}

main > section:first-child img:nth-child(5) {
  width: 480px;
}


article > h1 {
  font-size: 2em;
  font-weight: bold;
}

button {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: black;   
  transition: color 350ms;

}

button > a {
  color: white;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px ;
}

button:hover > a {
  background-color: yellow; 
} 


footer {
  height: 100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: grey;
}